.bg{
    background-color: #86AEEB;
}
.navbar{
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.jumbotron {
    padding-top:5rem;
}
#my_camera{
    width:756px;
    height:567px;
}
@media screen and (max-width: 750px) {
#my_camera{
    width:378px;
    height:283px;
}}

@media screen and (max-width: 750px) {
.img-makesure{
    width:378px;
    height:283px;
}}
.oops{
 background: rgba(255,255,255,0.2)
}
.about {
    background-color: #5a91e4;
}
footer{
    background-color:#ffffff;
    padding-bottom: 5px;
}section{
    padding-top: 5rem;
}
.table-pemilik{
 background: rgba(255,255,255,0.2)

}
#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: rgba(0, 0, 0, 0.5);
}
